@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header {
    background-color: #0cc0df;
    display: flex;
    padding: 25px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
header li{
    list-style: none;
    padding: 20px;
    padding-right: 30px;
}
nav ul {
    display: flex;
}
header li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
main {
    display: flex;
    height: 600px;
    align-items: center;
    background-color:indianred;
}
main section {
    width: 50%;
}
.main-image {
    padding-left: 15%;
}
main section img {
    border-radius: 400px 0px 400px 400px;
}
nav button {
    border-radius: 30px;
    padding: 0px 10px;
    background-color: indianred;
    border-color: indianred ;
}
.main-text {
    font-size: 40px;
}
.main-text h1 {
    font-family: 'Red Hat Display';
}
.main-text p {
    font-size: 25px;
}
.main-text a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.main-text button {
    padding: 20px;
    border-color: #ff914d;
    border-radius: 20px;
    background-color: #ff914d;
}
.main-text button:hover {
    background-color: #db793c;
}
.lista-dev {
    background-color: #0cc0df;
    height: 500px;
 
}
.lista-dev ul {
    display: flex;
    justify-content: space-around;
}
.lista-dev li {
    padding: 25px;
    list-style: none;
    text-align: center;
}
.lista-dev img {
    width: 277px;
    height: 277px;
    border-radius: 50%;
}
.icon-linkedin{
    width: 30px;
}
.nombres-dev{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-size: 20px;
}